.todoItem {
  width: 30%;
  min-width: 350px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px #000;
  margin: 0 10px 10px 10px;
  position: relative;
}

.removeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.editBtn {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
