.formWrapper {
  width: 50%;
  margin: 20px auto;

  form {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}

.textFields {
  width: 50%;
  margin-left: 20px;
}
